/* . {
  font-family:Arial, Helvetica, sans-serif !important;
} */


.landing-page-img{
    width: 100%;
    height: 90%;
  }
  
  .text-on-img1{
    position:absolute; 
    top: 350px; 
    left: 25%; 
    color:black;
    background-color: white;
    font-size: 40px;
    padding: 5px;
  }
  
  .text-on-img2{
    position:absolute; 
    top: 450px; 
    left: 35%; 
    color:black;
    background-color: white;
    font-size: 40px;
    padding: 5px;
  
  }
  
.my-card{
    /* background-color: aqua; */
    margin: 40px;
    box-shadow: 5px 5px lightgrey;
  }

.services-list{
  margin-top: 10rem;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.explore-btn{
  display: flex;
    justify-content: center; 

    margin-top: 20px; 
    margin-bottom: 5rem;
}

.achievements-container {
  width: 80%;
  margin: 5rem 8rem;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievements-container h2 {
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

.achievements-columns {
  display: flex;
  justify-content: space-between;
}

.achievement-column {
  width: 48%;
}

.achievement {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  margin-right: 10px;
  color: #333;
  font-size: 24px;
}

.achievement p {
  margin: 0;
  color: #555;
}

.about-oruj-img h1{

    position:absolute; 
    top: 500px; 
    left: 40%;
    right: 40%; 
    color:black;
    background-color: white;
    font-size: 40px;
    padding: 5px 5px;
    text-align: center;

}


.about-oruj {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-bottom: 5rem;

  margin-left: 10%;
  margin-right: 10%;
}

.about-oruj h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;

}

.about-oruj h3 {
  color: #555;
  font-size: 20px;
  margin-bottom: 8px;
}

.about-oruj p {
  color: #666;
  font-size: 16px;
  margin-bottom: 16px;
}
